<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">

	<head>
	    <title>TodoList</title>    
	</head>
		
	<th:block layout:fragment="content">
	
    	<form role="form" th:action="|/todoList/${todo.todoId}/new|" th:object="${todoFormListDto}" method="post"
    	onchange="checkForm();" onsubmit="return checkForm();">
	    	<a href="/todo" class="h3 mb-4 text-gray-800">미래 계획</a>
	    	<div class="col-lg-7 p-0 mt-4">
	  			<div class="card mb-4 shadow">
	  				<div class="card-body ml-3">
		  				<div class="form-group row">
							<div class="circle" th:percent="${todo.progressWidth}" th:id="|progress${todo.todoId}|">
	    						<strong></strong>
	    					</div>
	    					<div class="col-sm pt-4"> 
		  						<h3 class ="text-gray-800 pt-2" th:text="${todo.todoTitle}"></h3>
	  						</div>
	  						<div class="col-sm pt-3 mr-2">
		  						<div class="text-right">
			  						<div th:style="${(todo.progressWidth == 1.0)} ? '' : 'display:none'" th:id="|done${todo.todoId}|" class="h5 text-danger mt-4 mr-2">목표 달성됨</div>
									<div th:style="${(todo.progressWidth == 1.0)} ? 'display:none' : ''" th:id="|doing${todo.todoId}|">
					 					<div th:style="${(todo.deadline == null)} ? '' : 'display:none'" th:id="|no_deadline${todo.todoId}|" class="h5 text-danger mt-4 mr-2">기한 없음</div>
					 					<div th:style="${(todo.deadline == null)} ? 'display:none' : ''" th:id="|deadline${todo.todoId}|" class="mt-4 mr-2" th:text="|${#temporals.format(todo.regdate, 'yyyy년 MM월 dd일')} ~${#dates.format(todo.deadline, 'yyyy년 MM월 dd일')}|"></div>
		 							</div>
		  						</div>
	  						</div>
	  					</div>
	  					<div th:each="todoList : ${todo.todoListItems}">
	  						<div class="custom-control custom-checkbox">
	  							<input type="checkbox" class="custom-control-input todoList" th:id="|todoListCheck${todoList.todoListId}|"
	  							th:value="${todoList.todoListId}" th:checked="${todoList.todoDone}">
	  							<label class="custom-control-label" th:id="|todoList${todoList.todoListId}|" th:for="|todoListCheck${todoList.todoListId}|" th:text="${todoList.todoListTitle}"
	  								th:style="${todoList.todoDone} ? 'text-decoration: line-through' : ''"></label>
	  							<a th:href="@{/todoList/{todoId}/{listId}/delete (todoId=${todo.todoId}, listId=${todoList.todoListId})}" class="btn btn-circle btn-sm">
	  								<i class="fas fa-trash"></i>
	  							</a>
	  						</div>
	  					</div>
	  					<div class="form-group row mt-4">
							<input type="text" th:field="*{title}" id="plan" class="form-control col-sm" placeholder="세부 계획을 입력해주세요.">
	<!-- 						<div class="invalid-feedback">세부 계획을 입력해주세요.</div> -->
	<!-- 						<div class="valid-feedback"></div> -->
							<div class="col-sm-1 mt-1">
								<button type="submit" class="btn btn-primary btn-circle btn-sm">
									<i class="fas fa-check"></i>
								</button>  			
							</div>    					
    					</div>
    					<hr>
    					<div class="float-right">
	    					<a th:href="@{/todo/{todoId}/edit (todoId=${todo.todoId})}"
	    					class="text-gray-100 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">수정</a>
	    					<a th:href="@{/todo/{todoId}/delete (todoId=${todo.todoId})}" 
	    					class="text-gray-100 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">삭제</a>
    					</div>
    				</div>
    			</div>
    		</div>
    	</form>
	</th:block>
	
	<th:block layout:fragment="pageScript">
		<!-- CheckBox DB UPDATE -->
		<script src="/resources/js/page/todoList.js"></script>
		<!-- Circle Progress Bar -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	   	<script src="https://rawgit.com/kottenator/jquery-circle-progress/1.2.2/dist/circle-progress.js"></script>
	  	<script src="/resources/js/circle.js"></script>
	  	<!-- 세부 계획 hasErrors class 변경 -->
	  	<script src="/resources/js/page/todoListForm.js"></script>
	</th:block>
	
</html>
    	