<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/blank">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">My Manager <sup></sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/blank">
      <i class="fas fa-fw fa-bell"></i>
      <span>공지사항</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">메뉴 </div>

  <!-- Nav Item - 일정 -->
 <li class="nav-item">
    <a class="nav-link" href="/blank">
      <i class="fas fa-fw fa-calendar-alt"></i>
      <span>일정</span></a>
  </li>

  <!-- Nav Item - 가계부 -->
  <li class="nav-item">
    <a class="nav-link" href="/blank">
      <i class="fas fa-fw fa-piggy-bank"></i>
      <span>가계부</span></a>
  </li>
  
  <!-- Nav Item - 미래계획 -->
  <li class="nav-item" th:classappend="${#strings.startsWith(#httpServletRequest.requestURI, '/todo')} ? 'active' : ''">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTodo" aria-expanded="true" aria-controls="collapseTodo">
      <i class="fas fa-fw fa-rocket"></i>
      <span>미래 계획</span>
    </a>
    <div id="collapseTodo" class="collapse" th:classappend="${#strings.startsWith(#httpServletRequest.requestURI, '/todo')} ? 'show' : ''" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
<!--         <h6 class="collapse-header">미래 계획:</h6> -->
        <a class="collapse-item" th:classappend="${#strings.startsWith(#httpServletRequest.requestURI, '/todo/new')} ? 'active' : ''" href="/todo/new">새 계획</a>
        <a class="collapse-item" th:classappend="${#strings.equals(#httpServletRequest.requestURI, '/todo')} ? 'active' : ''" href="/todo">계획 목록</a>
      </div>
    </div>
  </li>
  
    <!-- Nav Item - 학사 관리 -->
   <li class="nav-item">
    <a class="nav-link" href="/blank">
      <i class="fas fa-fw fa-user-graduate"></i>
      <span>학사 관리</span></a>
  </li>

  <!-- Nav Item - 식단 -->
 <li class="nav-item">
    <a class="nav-link" href="/blank">
      <i class="fas fa-fw fa-utensils"></i>
      <span>식단</span></a>
  </li>
  
  
     <!-- Divider --> 
<!--   <hr class="sidebar-divider"> -->

   <!-- Heading --> 
<!--   <div class="sidebar-heading"> -->
<!--     Addons -->
<!--   </div> -->

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->