<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">

<head>
    <title>TodoList</title>    
</head>
	
	<th:block layout:fragment="content">
    
   		<a href="/todo" class="h3 mb-4 text-gray-800">미래 계획</a>
   		
       		<a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" href="/todo/new">새 계획</a>
	       	<div class="col-lg-7 p-0">
	       	<div th:each="todo : ${todos}" class="card mb-4 py-3 border-left-primary">
  				
  				<div class="card-body">
  					<details>
  						<summary>
  							<div>
			 					<div class="circle" th:percent="${todo.progressWidth}">
    								<strong></strong>
    							</div>
								<a th:href="@{/todo/{todoId} (todoId=${todo.todoId})}" class="h3 text-gray-800" th:text="${todo.todoTitle}"></a>
								<div th:if="${(todo.progressWidth == 1.0)}" class="h5 text-danger">목표 달성됨</div>
								<div th:unless="${(todo.progressWidth == 1.0)}">
				 					<div th:if="${#strings.isEmpty(todo.deadline)}" class="h5 text-danger">기한 없음</div>
				 					<div th:unless="${#strings.isEmpty(todo.deadline)}" th:text="|${#temporals.format(todo.regdate, 'yyyy년 MM월 dd일')} ~${#dates.format(todo.deadline, 'yyyy년 MM월 dd일')}|"></div>
	 							</div>
	 						</div>
	 					</summary>
	 					<div>
		 					<div th:each="todoList,idx : ${todo.todoListItems}">
		 						<div class="custom-control custom-checkbox">
		 							<input type="checkbox" class="custom-control-input todoList" th:id="|todoListCheck${todo.todoId}${idx.index}|"
		 							th:value="${todoList.todoListId}" th:checked="${todoList.todoDone}">
		 							<label class="custom-control-label" th:for="|todoListCheck${todo.todoId}${idx.index}|" th:text="${todoList.todoListTitle}"
		 							th:class="${todoList.todoDone} ? 'custom-control-label middle-line' : 'custom-control-label'"></label>
		 						</div>
		 					</div>
	 					</div>
 					</details>
  				</div>
   			</div>
       	</div>
	</th:block>
	
	<th:block layout:fragment="pageScript">
		<!-- CheckBox DB UPDATE -->
		<script src="/resources/js/page/todoList.js"></script>
		<!-- Circle Progress Bar -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	   	<script src="https://rawgit.com/kottenator/jquery-circle-progress/1.2.2/dist/circle-progress.js"></script>
	  	<script src="/resources/js/circle.js"></script>
	</th:block>

</html>
